
/* header start */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner {
    max-width: 1920px;
    display: flex;
   padding: 50px 20px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
}

.banner-greeting{
    /* display: flex; */
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;   
margin-top: 5px; 
margin-bottom: 16px;
}
.banner p{
    margin-top: 16px;
    margin-bottom: 16px
}

.banner img{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    
}

.btn-primary{display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
background: #E55473;
text-decoration: none;
color: white;
margin-top: 16px;
font-size: 20px;
}
button:hover{
    background-color: aqua;
    
    
}

/* header end  */

/* main section starts */
.container{
    margin-top: 48px;
}
.section-title{
    color: #272727;
    margin-top: 175px;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-description{
    display: flex;
    width: 594px;
    flex-direction: none;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: auto;

}
/* main section */
main{
    max-width: 1920px;
   
}

.f1 {

    padding: 0 80px;
    align-items: center;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.f-1 {
    width: 394px;
    height: 468px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    transition: .5s;
}


.f-2 {
    width: 394px;
    height: 460px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    transition: .5s;
}
.f-3 {
    width: 394px;
    height: 468px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    transition: .5s;

}
.f-1:hover {
    scale: 1.1;
    background: 0;
    transition: 0.5s;
}

.f-2:hover {
    background: 0;
    scale: 1.1;
    
}
.f-3:hover {
    background: 0;
    scale: 1.1;
}

#f-1 {
    width: 294px;
    height: 441px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: 25px;
}

#f-2 {
    width: 350px;
    height: 370px;
    flex-shrink: 0;
    margin-top: 80px;
    margin-left: 30px;
}

#f-3 {
    width: 304px;
    height: 461px;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 5px;
}

.img-title {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.link-text .img-p {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 600;
}


.r-1 img{
    height: 120px;
}
    .insta-img {
    
        margin: 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;   
        margin-top: 40px;
    }
.hot-deal {
    display: flex;
    justify-content: space-around;
    /* background: border-radius: 8px; */
    background: rgba(229, 84, 115, 0.05);
}

.hot-text .hot-h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3em;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}
.contact {
    background-image: url(./flower/Rectangle\ 9.png);
    margin: 100px;
 
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
}
.contact .contact-h1 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 100px;
}
.contact .contact-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.input {
    /* align-items: center; */
    text-align: center;
}   
.input .email-input {
    width: 350px;
    height: 32px;
    flex-shrink: 0;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #fff;
}
.input .sub-btn {
    color: #fff;
    font-size: 15px;
    padding: 8.5px 20px;
    margin-left: 15px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #E55473;
    text-transform: uppercase;
    transition: .5s;
}


.footer {
    width: 100%px;
    height: 280px;
    background: #111010;
}

.footer .foot-h1 {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.footer .foot-p {
    color: #fff;
    text-align: center;
   
}

.footer
.foot-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}